In [1]:
from __future__ import division

import keras
from keras.models import Model
from keras.layers import Input, Dense, Activation, Flatten, Convolution2D, MaxPooling2D, ZeroPadding2D
#from keras.utils.visualize_util import plot
from keras.utils import np_utils

from keras.utils.vis_utils import model_to_dot, plot_model
from IPython.display import SVG

import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
#keras.backend.image_dim_ordering='th'


from keras import backend as K
import theano
theano.config.optimizer='fast_compile'

Using TensorFlow backend.

In [2]:
from keras.applications.vgg16 import VGG16
from keras.models import Model
from keras.layers import Dense

vgg16 = VGG16(weights='imagenet')

In [3]:
for layer in vgg16.layers[:15]:
    layer.trainable = False
    
convs = vgg16.get_layer('flatten').output

#create new layers
new = Dense(1024, activation='relu', name='fc6_pose')(convs)
new = Dense(1024, activation='relu', name='fc7_pose')(new)

# predict locations

# output : 2 visibility probabilities
vis1 = Dense(2, activation='softmax', name='visibility1')(new)
vis2 = Dense(2, activation='softmax', name='visibility2')(new)
vis3 = Dense(2, activation='softmax', name='visibility3')(new)
vis4 = Dense(2, activation='softmax', name='visibility4')(new)
vis5 = Dense(2, activation='softmax', name='visibility5')(new)
vis6 = Dense(2, activation='softmax', name='visibility6')(new)

# landmark outputs
lm=Dense(12,activation='linear',name='landmarks')(new)

outputs=[vis1, vis2, vis3, vis4,vis5, vis6, lm]

model = Model(input=vgg16.input, output=outputs)
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 224, 224, 3)  0
__________________________________________________________________________________________________
block1_conv1 (Conv2D)           (None, 224, 224, 64) 1792        input_1[0][0]
__________________________________________________________________________________________________
block1_conv2 (Conv2D)           (None, 224, 224, 64) 36928       block1_conv1[0][0]
__________________________________________________________________________________________________
block1_pool (MaxPooling2D)      (None, 112, 112, 64) 0           block1_conv2[0][0]
__________________________________________________________________________________________________
block2_conv1 (Conv2D)           (None, 112, 112, 128 73856       block1_pool[0][0]
__________________________________________________________________________________________________
block2_conv2 (Conv2D)           (None, 112, 112, 128 147584      block2_conv1[0][0]
__________________________________________________________________________________________________
block2_pool (MaxPooling2D)      (None, 56, 56, 128)  0           block2_conv2[0][0]
__________________________________________________________________________________________________
block3_conv1 (Conv2D)           (None, 56, 56, 256)  295168      block2_pool[0][0]
__________________________________________________________________________________________________
block3_conv2 (Conv2D)           (None, 56, 56, 256)  590080      block3_conv1[0][0]
__________________________________________________________________________________________________
block3_conv3 (Conv2D)           (None, 56, 56, 256)  590080      block3_conv2[0][0]
__________________________________________________________________________________________________
block3_pool (MaxPooling2D)      (None, 28, 28, 256)  0           block3_conv3[0][0]
__________________________________________________________________________________________________
block4_conv1 (Conv2D)           (None, 28, 28, 512)  1180160     block3_pool[0][0]
__________________________________________________________________________________________________
block4_conv2 (Conv2D)           (None, 28, 28, 512)  2359808     block4_conv1[0][0]
__________________________________________________________________________________________________
block4_conv3 (Conv2D)           (None, 28, 28, 512)  2359808     block4_conv2[0][0]
__________________________________________________________________________________________________
block4_pool (MaxPooling2D)      (None, 14, 14, 512)  0           block4_conv3[0][0]
__________________________________________________________________________________________________
block5_conv1 (Conv2D)           (None, 14, 14, 512)  2359808     block4_pool[0][0]
__________________________________________________________________________________________________
block5_conv2 (Conv2D)           (None, 14, 14, 512)  2359808     block5_conv1[0][0]
__________________________________________________________________________________________________
block5_conv3 (Conv2D)           (None, 14, 14, 512)  2359808     block5_conv2[0][0]
__________________________________________________________________________________________________
block5_pool (MaxPooling2D)      (None, 7, 7, 512)    0           block5_conv3[0][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 25088)        0           block5_pool[0][0]
__________________________________________________________________________________________________
fc6_pose (Dense)                (None, 1024)         25691136    flatten[0][0]
__________________________________________________________________________________________________
fc7_pose (Dense)                (None, 1024)         1049600     fc6_pose[0][0]
__________________________________________________________________________________________________
visibility1 (Dense)             (None, 2)            2050        fc7_pose[0][0]
__________________________________________________________________________________________________
visibility2 (Dense)             (None, 2)            2050        fc7_pose[0][0]
__________________________________________________________________________________________________
visibility3 (Dense)             (None, 2)            2050        fc7_pose[0][0]
__________________________________________________________________________________________________
visibility4 (Dense)             (None, 2)            2050        fc7_pose[0][0]
__________________________________________________________________________________________________
visibility5 (Dense)             (None, 2)            2050        fc7_pose[0][0]
__________________________________________________________________________________________________
visibility6 (Dense)             (None, 2)            2050        fc7_pose[0][0]
__________________________________________________________________________________________________
landmarks (Dense)               (None, 12)           12300       fc7_pose[0][0]
==================================================================================================
Total params: 41,480,024
Trainable params: 33,844,760
Non-trainable params: 7,635,264
__________________________________________________________________________________________________

C:\Users\1023473\AppData\Local\Continuum\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:25: UserWarning: Update your `Model` call to the Keras 2 API: `Model(inputs=Tensor("in..., outputs=[<tf.Tenso...)`

In [5]:
import pandas as pd

lm='C:/Users/1023473/Downloads/Anno/list_landmarks.txt'
text=pd.read_csv(lm,delim_whitespace=True,skiprows=0,header=1)


text.head()

,image_name,clothes_type,variation_type,landmark_visibility_1,landmark_location_x_1,landmark_location_y_1,landmark_visibility_2,landmark_location_x_2,landmark_location_y_2,landmark_visibility_3,...,landmark_location_y_5,landmark_visibility_6,landmark_location_x_6,landmark_location_y_6,landmark_visibility_7,landmark_location_x_7,landmark_location_y_7,landmark_visibility_8,landmark_location_x_8,landmark_location_y_8
0,img/img_00000001.jpg,1,1,1,144,156,1,221,159,0,...,408.0,0.0,237.0,412.0,NaN,NaN,NaN,NaN,NaN,NaN
1,img/img_00000002.jpg,1,3,0,111,104,1,153,105,0,...,188.0,1.0,137.0,198.0,NaN,NaN,NaN,NaN,NaN,NaN
2,img/img_00000003.jpg,1,1,0,112,113,1,172,117,0,...,277.0,1.0,187.0,262.0,NaN,NaN,NaN,NaN,NaN,NaN
3,img/img_00000004.jpg,1,2,0,76,74,0,108,69,0,...,174.0,0.0,126.0,170.0,NaN,NaN,NaN,NaN,NaN,NaN
4,img/img_00000005.jpg,1,1,0,217,139,0,290,156,0,...,314.0,0.0,309.0,313.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
upper=text[text.clothes_type ==1]

upper.describe()

,clothes_type,variation_type,landmark_visibility_1,landmark_location_x_1,landmark_location_y_1,landmark_visibility_2,landmark_location_x_2,landmark_location_y_2,landmark_visibility_3,landmark_location_x_3,...,landmark_location_y_5,landmark_visibility_6,landmark_location_x_6,landmark_location_y_6,landmark_visibility_7,landmark_location_x_7,landmark_location_y_7,landmark_visibility_8,landmark_location_x_8,landmark_location_y_8
count,42031.0,42031.000000,42031.000000,42031.000000,42031.000000,42031.000000,42031.000000,42031.000000,42031.000000,42031.000000,...,42031.000000,42031.000000,42031.000000,42031.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.0,2.454165,0.388071,139.538222,103.887631,0.361091,191.626466,102.954557,0.360496,98.158336,...,270.961148,0.478837,175.434298,270.841450,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,1.355310,0.519960,57.437633,56.747877,0.514013,67.190153,56.784962,0.599424,69.565090,...,148.336300,0.753309,101.169926,149.261111,NaN,NaN,NaN,NaN,NaN,NaN
min,1.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.0,1.000000,0.000000,103.000000,65.000000,0.000000,149.000000,64.000000,0.000000,52.000000,...,191.000000,0.000000,121.000000,190.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.0,2.000000,0.000000,136.000000,102.000000,0.000000,193.000000,101.000000,0.000000,89.000000,...,294.000000,0.000000,190.000000,294.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.0,4.000000,1.000000,166.000000,143.000000,1.000000,227.000000,142.000000,1.000000,131.000000,...,392.000000,1.000000,244.000000,393.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,1.0,5.000000,2.000000,467.000000,461.000000,2.000000,502.000000,451.000000,2.000000,502.000000,...,512.000000,2.000000,510.000000,512.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
upper2=upper[(upper.landmark_visibility_1!=2)&(upper.landmark_visibility_2!=2)&(upper.landmark_visibility_3!=2)&
            (upper.landmark_visibility_4!=2) & (upper.landmark_visibility_5!=2) & (upper.landmark_visibility_6!=2)]

In [8]:
file1='C:/Users/1023473/Downloads/Eval/list_eval_partition.txt'

split=pd.read_csv(file1,delim_whitespace=True,skiprows=[0])

split.head()
len(split)

123016

In [10]:
splits=upper2.merge(split,how='left')

splits.head(1)

len(splits)
def image(x):
    x=x.split('/')[1:]
    return '/'.join(x)

splits['image']=splits.image_name.apply(image)

def filename(df):
    x=df.evaluation_status+'/'+df.image
    return x

splits['file']=splits.apply(filename,axis=1)
splits.head()

,image_name,clothes_type,variation_type,landmark_visibility_1,landmark_location_x_1,landmark_location_y_1,landmark_visibility_2,landmark_location_x_2,landmark_location_y_2,landmark_visibility_3,...,landmark_location_y_6,landmark_visibility_7,landmark_location_x_7,landmark_location_y_7,landmark_visibility_8,landmark_location_x_8,landmark_location_y_8,evaluation_status,image,file
0,img/img_00000001.jpg,1,1,1,144,156,1,221,159,0,...,412.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000001.jpg,train/img_00000001.jpg
1,img/img_00000002.jpg,1,3,0,111,104,1,153,105,0,...,198.0,NaN,NaN,NaN,NaN,NaN,NaN,val,img_00000002.jpg,val/img_00000002.jpg
2,img/img_00000003.jpg,1,1,0,112,113,1,172,117,0,...,262.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000003.jpg,train/img_00000003.jpg
3,img/img_00000004.jpg,1,2,0,76,74,0,108,69,0,...,170.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000004.jpg,train/img_00000004.jpg
4,img/img_00000005.jpg,1,1,0,217,139,0,290,156,0,...,313.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000005.jpg,train/img_00000005.jpg

In [19]:
trainData = splits[splits.	evaluation_status =='train']
trainData.head()

,image_name,clothes_type,variation_type,landmark_visibility_1,landmark_location_x_1,landmark_location_y_1,landmark_visibility_2,landmark_location_x_2,landmark_location_y_2,landmark_visibility_3,...,landmark_location_y_6,landmark_visibility_7,landmark_location_x_7,landmark_location_y_7,landmark_visibility_8,landmark_location_x_8,landmark_location_y_8,evaluation_status,image,file
0,img/img_00000001.jpg,1,1,1,144,156,1,221,159,0,...,412.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000001.jpg,train/img_00000001.jpg
2,img/img_00000003.jpg,1,1,0,112,113,1,172,117,0,...,262.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000003.jpg,train/img_00000003.jpg
3,img/img_00000004.jpg,1,2,0,76,74,0,108,69,0,...,170.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000004.jpg,train/img_00000004.jpg
4,img/img_00000005.jpg,1,1,0,217,139,0,290,156,0,...,313.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000005.jpg,train/img_00000005.jpg
5,img/img_00000006.jpg,1,1,1,63,50,1,98,51,0,...,135.0,NaN,NaN,NaN,NaN,NaN,NaN,train,img_00000006.jpg,train/img_00000006.jpg

In [15]:
import sklearn

In [ ]:
train_datagen = keras.preprocessing.image.ImageDataGenerator(featurewise_center=False,
    samplewise_center=False,
    featurewise_std_normalization=False,
    samplewise_std_normalization=False,
    zca_whitening=False,
    rotation_range=0.,
    width_shift_range=0.,
    height_shift_range=0.,
    shear_range=0.,
    zoom_range=0.,
    channel_shift_range=0.,
    fill_mode='nearest',
    cval=0.,
    horizontal_flip=False,
    vertical_flip=False,
    rescale=None)
validation_datagen = keras.preprocessing.image.ImageDataGenerator(rescale=1./255)

train_generator = train_datagen.flow_from_dataframe(
    dataframe=trainData,
    directory="./img-002/img/train/",
    x_col="image",
    y_col=['landmark_visibility_1', 'landmark_location_x_1', 'landmark_location_y_1',
          'landmark_visibility_2', 'landmark_location_x_2', 'landmark_location_y_2',
          'landmark_visibility_3', 'landmark_location_x_3', 'landmark_location_y_3',
          'landmark_visibility_4', 'landmark_location_x_4', 'landmark_location_y_4',
          'landmark_visibility_5', 'landmark_location_x_5', 'landmark_location_y_5',
          'landmark_visibility_6', 'landmark_location_x_6', 'landmark_location_y_6',],
    has_ext=False,                                      
    subset="training",
    batch_size=32,
    seed=42,
    shuffle=True,
    class_mode="categorical",
    target_size=(32,32))

    validation_generator = split_outputs(flow_from_dataframe(validation_datagen, image_files_val, 'filename', 'targets',
                                                         target_size=(160, 128), batch_size=20))